<% if @album.persisted? %>
  <% form_destination = album_url %>
  <% form_method = "patch" %>
<% else %>
  <% form_destination = albums_url %>
  <% form_method = "post" %>
<% end %>


<form action="<%= form_destination %>" method="post">
  <input type="hidden" name="_method" value="<%= form_method %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="album[title]" value="<%= @album.title %>">
  </label>
  <br>

  <label>Band
    <select name="album[band_id]">
    <option></option>
      <% @bands.each do |band| %>
        <option
        value="<%= band.id %>"
        <%= "selected" if @album.band == band %> ><%= band.name %></option>
      <% end %>
    </select>
  </label>
  <br>


  <br>
  <% Album.performance_types.keys.each do |performance_type| %>
    <label>
      <input
      type="radio"
      name="album[performance_type]"
      value="<%= performance_type %>"
      <%= "checked" if @album.performance_type == performance_type %> >
      <%= performance_type.upcase %>
    </label>
  <% end %>
  <br>

  <input type="submit" value="submit">
</form>
